@charset "UTF-8";



.Dropdown_locale-list__U10GI {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 8px 12px;
    border-bottom: 1px solid var(--secondaryColor);
    border-left: 1px solid var(--secondaryColor);
    border-right: 1px solid var(--secondaryColor);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--footerBg)
}

.Dropdown_container__XcQdc {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    background: var(--footerBg);
    margin: 0 auto;
    z-index: 1;
    user-focus: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 8px
}

.Dropdown_container__list__N2FBc {
    position: absolute;
    overflow: hidden;
    width: 100%
}

.Dropdown_link__FcCSx {
    color: var(--secondaryColor);
    text-decoration: none
}

.Dropdown_current-locale__GpHOY,
.Dropdown_link__FcCSx {
    display: flex;
    -moz-column-gap: 8px;
    column-gap: 8px;
    align-items: center
}

.Dropdown_current-locale__GpHOY {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: .5rem 1rem;
    border: 1px solid var(--secondaryColor);
    justify-content: space-evenly;
    border-radius: 8px;
    color: var(--primaryColor);
    transition: border .4s ease-in-out
}

.Dropdown_current-locale__GpHOY.Dropdown_open__lPiMc {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.Dropdown_current-locale__GpHOY svg {
    height: 20px
}

.Dropdown_current-locale__GpHOY svg path {
    fill: var(--primaryColor)
}

.Menu_btn-close__chR5Q,
.Menu_btn-open__JmTvu {
    border: none;
    background: transparent;
    display: flex;
    width: 35px;
    height: 35px;
    padding: 1px 6px
}

.Menu_btn-close__chR5Q svg,
.Menu_btn-open__JmTvu svg {
    fill: var(--headerMobileMenuBtnOpenClose);
    box-sizing: content-box;
    padding: 0
}

.Menu_btn-close__chR5Q {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1
}

.Menu_overlay__oVgA9 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--mobileMenuBg);
    z-index: 1;
    transition: all .3s ease-in-out;
    transform: translateX(-100%)
}

.Menu_overlay__oVgA9.Menu_open__nSkZt {
    transform: translateX(0)
}

.Menu_overlay__container__MrQQ9 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center
}

.Menu_overlay__oVgA9 .Menu_logo__6J2U6 {
    margin-top: 20px;
    position: relative;
    width: 200px;
    height: 55px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px
}

.Menu_overlay__oVgA9 .Menu_logo__6J2U6 img {
    position: static !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: auto !important;
    max-height: 100%;
    margin: 0 auto
}

.Menu_overlay__oVgA9 .Menu_auth__3RsqQ,
.Menu_overlay__oVgA9 .Menu_nav__WfyMi {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.Menu_overlay__oVgA9 .Menu_nav__WfyMi {
    margin: 60px 0 0;
    padding: 0;
    list-style: none;
    align-items: flex-start;
    min-width: 200px
}

.Menu_overlay__oVgA9 .Menu_nav__item__bFXYT {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    color: var(--headerMobileMenuLinkColor)
}

.Menu_overlay__oVgA9 .Menu_nav__item__bFXYT svg {
    transition: all .2s ease-in-out
}

.Menu_overlay__oVgA9 .Menu_nav__link__kHhaQ {
    color: var(--headerMobileMenuLinkColor);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 100%;
    height: 52px;
    display: block
}

.Menu_overlay__oVgA9 .Menu_nav__link__kHhaQ.Menu_active__iLhAc {
    color: var(--headerMobileMenuLinkActiveColor)
}

.Menu_overlay__oVgA9 .Menu_nav__WfyMi .Menu_submenu__Yy6LH {
    padding: 0 0 0 20px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.Menu_overlay__oVgA9 .Menu_nav__WfyMi .Menu_submenu__icon-open__WenYe {
    transform: rotate(-90deg)
}

.Menu_menu__t8OLg {
    height: 100%
}

.Menu_menu-mobile__container__6ATmK {
    flex: 1 1
}

.Menu_menu__link__cuK5c {
    display: flex;
    gap: 10px;
    flex-direction: row !important
}

.Menu_menu__list__tFuC4 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    height: 100%
}

.Menu_menu__list__tFuC4 li {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box
}

.Menu_menu__list__tFuC4 li .Menu_submenu__Yy6LH {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 99%;
    border-radius: 0 0 8px 8px;
    left: 0;
    padding: 0;
    min-width: 100%;
    background: var(--headerBg);
    flex-direction: column;
    margin: 0;
    box-sizing: border-box
}

.Menu_menu__list__tFuC4 li .Menu_submenu__Yy6LH li {
    box-sizing: border-box;
    border-bottom: 1px solid var(--secondaryColor)
}

.Menu_menu__list__tFuC4 li .Menu_submenu__Yy6LH a {
    padding: 10px 20px
}

.Menu_menu__list__tFuC4 li .Menu_submenu__Yy6LH a:hover {
    color: var(--primaryColor)
}

.Menu_menu__list__tFuC4 li:hover .Menu_submenu__Yy6LH {
    display: flex
}

.Menu_menu__list__tFuC4 a {
    font-size: .875rem;
    line-height: 170%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0 20px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 700;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 100%;
    color: var(--headerMenuLinkColor);
    transition: all .32s ease
}

.Header_header__Z8PUO {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: var(--headerBg);
    height: 72px;
    padding: .75rem 0;
    box-sizing: border-box
}

@media screen and (max-width:570px) {
    .Header_header__Z8PUO {
        position: sticky;
        display: flex;
        justify-content: flex-start
    }

    .Header_logo__gECVj {
        flex: 1 1;
        display: flex;
        justify-content: center
    }
}

.Header_logo-container__crsGL {
    display: block;
    position: relative
}

.Header_logo-container__crsGL img {
    max-width: 300px;
    height: auto
}

@media screen and (max-width:570px) {
    .Header_logo-container__crsGL {
        height: 40px;
        width: 120px
    }
}

.Header_container__7nNih {
    max-width: var(--boxSize);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media screen and (max-width:570px) {
    .Header_container__7nNih {
        padding: 0 10px;
        width: 100%
    }
}

.Header_container__7nNih .Header_auth__5Ge4n {
    display: flex;
    align-items: center;
    gap: 10px
}

.Header_center__aKLvs,
.Header_left__Y_lei,
.Header_right__2BmJ_ {
    display: flex
}

.Header_left__Y_lei {
    justify-content: flex-start
}

.Header_right__2BmJ_ {
    justify-content: flex-end
}

.Header_center__aKLvs {
    justify-content: center
}

.Header_center__aKLvs.Header_menu-mobile__container__rmQIJ {
    order: -1;
    margin-right: 30px
}

.Header_flex-1__4Jei3 {
    flex: 1 1
}

.Header_header-game__SDdb5 {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 368px;
    background: var(--headerBg);
    padding: .5rem 1rem;
    row-gap: 1rem
}

.Header_header-game__SDdb5 .Header_auth__5Ge4n {
    width: 100%;
    display: inline-flex;
    align-items: center;
    -moz-column-gap: 1rem;
    column-gap: 1rem
}

.Header_header-game__SDdb5 .Header_auth__5Ge4n button {
    flex: 1 1
}

.Footer_logo-container__cvaEF {
    position: relative;
    width: 385px;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center
}

@media screen and (max-width:570px) {
    .Footer_logo-container__cvaEF {
        width: 200px;
        height: 55px
    }

    .Footer_logo-container__cvaEF img {
        position: static !important;
        width: -moz-fit-content !important;
        width: fit-content !important;
        height: auto !important;
        max-height: 100%
    }
}

.Footer_footer__Dhw_9 {
    background-color: var(--footerBg);
    padding: 30px 0;
    clear: both
}

.Footer_footer__nav__41uab {
    padding: 20px 20px 18px
}

.Footer_footer__nav__41uab span {
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: 1rem;
    color: var(--primaryColor);
    display: block
}

.Footer_footer__nav-list__eVroq {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center
}

@media screen and (max-width:570px) {
    .Footer_footer__nav-list__eVroq {
        row-gap: 15px
    }
}

.Footer_footer__nav-link__Y_sMf {
    text-decoration: none;
    color: var(--footerMenuLinkColor)
}

@media screen and (max-width:570px) {
    .Footer_footer__nav-link__Y_sMf {
        font-size: .875rem
    }
}

li:not(:last-child) .Footer_footer__nav-link__Y_sMf {
    border-right: 2px solid var(--footerMenuLinkBorderColor);
    padding-right: 10px
}

.Footer_footer__Dhw_9 .Footer_providers__fulGh {
    border-top: 1px solid var(--footerProvidersBorderColor);
    border-bottom: 1px solid var(--footerProvidersBorderColor);
    padding: 20px 40px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--boxSize)
}

.Footer_footer__Dhw_9 .Footer_providers__list__3bSuX {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    justify-content: center
}

.Footer_footer__Dhw_9 .Footer_providers__link__TVZIZ {
    position: relative;
    height: 35px;
    display: block
}

.Footer_footer__Dhw_9 .Footer_providers__link__TVZIZ img {
    width: 100%;
    height: 100%
}

.Footer_footer__text__xZ69H {
    color: var(--footerTextColor);
    text-align: center;
    font-size: .75rem;
    line-height: 140%;
    width: 100%;
    max-width: var(--boxSize);
    margin: 24px auto 0
}

.Footer_footer__images__zqW7F {
    padding: 10px 30px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--boxSize)
}

.Footer_footer__images__zqW7F ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    justify-content: center
}

.Footer_footer__images-item__c9pc2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.Footer_footer__images-item__c9pc2 a {
    position: relative;
    display: block
}

.Footer_footer__images-item__c9pc2 img {
    max-height: 50px;
    max-width: 150px;
    width: 100%
}

.Footer_container__5d2_x {
    margin: 0 auto;
    width: 100%;
    max-width: var(--boxSize);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    -moz-column-gap: 24px;
    column-gap: 24px
}

.Cookies_container__AF2Q7 {
    position: fixed;
    z-index: 2;
    background: var(--backgroundCookies);
    color: var(--colorCookies);
    fill: var(--colorCookies)
}

@media screen and (max-width:570px) {
    .Cookies_container__AF2Q7 {
        left: 0;
        right: 0;
        bottom: 15px !important;
        top: 0;
        width: 100%;
        box-sizing: border-box
    }
}

.Cookies_container__AF2Q7 .Cookies_cookies__rficQ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1468px;
    margin: 0 auto;
    padding: 10px;
    position: relative
}

.Cookies_container__AF2Q7 .Cookies_cookies__rficQ .Cookies_content__eBF4m {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3
}

.Cookies_container__AF2Q7 .Cookies_cookies__rficQ .Cookies_content__eBF4m :first-child {
    margin-top: 0
}

.Cookies_container__AF2Q7 .Cookies_cookies__rficQ .Cookies_title__yo3ad {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-right: 60px
}

.Cookies_container__AF2Q7 .Cookies_cookies__rficQ .Cookies_buttons__LMS48 {
    display: flex;
    gap: 6px;
    flex-wrap: wrap
}

.Cookies_container__AF2Q7 .Cookies_cookies__rficQ .Cookies_buttons__LMS48 button {
    flex-grow: 1;
    min-height: 38px;
    border-radius: 4px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600
}

.Cookies_container__AF2Q7 .Cookies_cookies__rficQ .Cookies_close__tm0z1 {
    position: absolute;
    right: -10px;
    top: -15px;
    padding: 3px 5px;
    cursor: pointer
}

.Cookies_container__AF2Q7 .Cookies_cookies__rficQ .Cookies_close__tm0z1:before {
    content: "✖"
}

@media screen and (max-width:570px) {
    .Cookies_container__AF2Q7 .Cookies_cookies__rficQ .Cookies_close__tm0z1 {
        right: 0;
        top: 0
    }
}

.Cookies_container__AF2Q7 .Cookies_popup__container__WL3xs {
    width: 50px;
    height: 50px;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: var(--backgroundCookiesLogo)
}

@media screen and (max-width:570px) {
    .Cookies_container__AF2Q7 .Cookies_popup__container__WL3xs {
        top: 35px
    }
}

.Cookies_container__AF2Q7 .Cookies_popup__container__WL3xs img {
    position: static !important;
    max-width: 500px;
    height: auto
}

@media screen and (max-width:570px) {
    .Cookies_container__AF2Q7 .Cookies_popup__container__WL3xs img {
        width: 35px;
        height: 28px
    }
}

.Cookies_container__AF2Q7.Cookies_popup___UeDK {
    bottom: 20px;
    max-width: 530px;
    width: 100%;
    padding: 20px;
    border-radius: 6px
}

@media screen and (max-width:570px) {
    .Cookies_container__AF2Q7.Cookies_popup___UeDK {
        width: auto;
        padding: 10px
    }
}

.Cookies_container__AF2Q7.Cookies_popup___UeDK .Cookies_content__eBF4m {
    margin-bottom: 24px;
    padding-right: 60px
}

.Cookies_container__AF2Q7.Cookies_popup___UeDK .Cookies_cookies__rficQ {
    flex-direction: column;
    align-items: normal
}

@media screen and (max-width:570px) {
    .Cookies_container__AF2Q7.Cookies_popup___UeDK .Cookies_cookies__rficQ {
        height: 100%
    }
}

.Cookies_container__AF2Q7.Cookies_popup___UeDK .Cookies_logo__NhFKo {
    position: relative
}

.Cookies_container__AF2Q7.Cookies_popup___UeDK.Cookies_left__EErf5 {
    left: 35px
}

@media screen and (max-width:570px) {
    .Cookies_container__AF2Q7.Cookies_popup___UeDK.Cookies_left__EErf5 {
        left: 15px;
        right: 15px;
        top: auto
    }
}

.Cookies_container__AF2Q7.Cookies_popup___UeDK.Cookies_right__BY_LE {
    right: 35px
}

@media screen and (max-width:570px) {
    .Cookies_container__AF2Q7.Cookies_popup___UeDK.Cookies_right__BY_LE {
        right: 15px;
        left: 15px;
        top: auto
    }
}

.Cookies_container__AF2Q7.Cookies_width__HBmLX {
    bottom: 0;
    left: 0;
    right: 0
}

.Cookies_container__AF2Q7.Cookies_width__HBmLX .Cookies_close__tm0z1 {
    top: 0
}

@media screen and (max-width:570px) {
    .Cookies_container__AF2Q7.Cookies_width__HBmLX .Cookies_cookies__rficQ {
        flex-direction: column
    }

    .Cookies_container__AF2Q7.Cookies_width__HBmLX {
        top: inherit !important
    }
}

* {
    box-sizing: border-box
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--primaryBg) !important;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none
}

body::-webkit-scrollbar {
    display: none
}

figure.table {
    margin-left: 0;
    margin-right: 0
}

.table table {
    width: 100%
}

.table thead th {
    color: var(--componentArticleColor)
}

.table td {
    color: var(--componentArticleColor) !important
}

figure.image img {
    max-width: 100%;
    position: static !important
}

figure.image_resized {
    margin: 0 auto
}

figure.image.image-style-side {
    float: left;
    margin: revert
}

@media screen and (max-width:570px) {
    figure.image {
        max-width: 100%;
        width: 100%
    }
}

.image-style-align-right {
    float: right;
    margin-left: 20px !important
}

.image-style-align-left {
    float: left;
    margin-right: 20px !important
}

.image-style-block-align-left {
    margin-left: 0 !important
}

.image-style-block-align-right {
    margin-right: 0 !important
}

@media screen and (max-width:570px) {
    .swiper-wrapper {
        height: auto !important
    }
}

.flex {
    display: flex
}

/*!
 * Bootstrap  v5.2.3 (https://getbootstrap.com/)
 * Copyright 2011-2022 The Bootstrap Authors
 * Copyright 2011-2022 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, .175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd
}

*,
:after,
:before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1,
h1 {
    font-size: calc(1.375rem + 1.5vw)
}

@media (min-width:1200px) {

    .h1,
    h1 {
        font-size: 2.5rem
    }
}

.h2,
h2 {
    font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {

    .h2,
    h2 {
        font-size: 2rem
    }
}

.h3,
h3 {
    font-size: calc(1.3rem + .6vw)
}

@media (min-width:1200px) {

    .h3,
    h3 {
        font-size: 1.75rem
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem
}

ul ul {
    margin-bottom: 0
}

blockquote {
    margin: 0 0 1rem
}

a {
    color: var(--bs-link-color);
    text-decoration: underline
}

a:hover {
    color: var(--bs-link-hover-color)
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

code {
    font-family: var(--bs-font-monospace);
    font-size: 1em;
    font-size: .875em;
    color: var(--bs-code-color);
    word-wrap: break-word
}

a>code {
    color: inherit
}

img,
svg {
    vertical-align: middle
}

caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #6c757d;
    text-align: left
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
    display: none !important
}

[type=button],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
    padding: 0
}

::-webkit-inner-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
    padding: 0
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button
}

iframe {
    border: 0
}

summary {
    display: list-item;
    cursor: pointer
}

[hidden] {
    display: none !important
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem
}

.blockquote>:last-child {
    margin-bottom: 0
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px
    }
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(0, 0, 0, .075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color)
}

.btn:focus-visible {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn.active,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color)
}

.btn.active:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check)+.btn:active:focus-visible {
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn:disabled {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity)
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.card,
.nav {
    display: flex
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, .03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius)
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none
}

@keyframes progress-bar-stripes {
    0% {
        background-position-x: 1rem
    }
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") 50%/1em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    opacity: .5
}

.btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75
}

.btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
    opacity: 1
}

.btn-close:disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: .25
}

@keyframes spinner-border {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spinner-grow {
    0% {
        transform: scale(0)
    }

    50% {
        opacity: 1;
        transform: none
    }
}

@keyframes placeholder-glow {
    50% {
        opacity: .2
    }
}

@keyframes placeholder-wave {
    to {
        -webkit-mask-position: -200% 0;
        mask-position: -200% 0
    }
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.visible {
    visibility: visible !important
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/e8e25437b49f95eb-s.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c8a, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/1503d3bdd3f79a19-s.p.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/e2a272b6447367f1-s.woff2) format("woff2");
    unicode-range: U+1f??
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/be657e7655c1bafa-s.woff2) format("woff2");
    unicode-range: U+0370-0377, U+037a-037f, U+0384-038a, U+038c, U+038e-03a1, U+03a3-03ff
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/468b79e2d56358f9-s.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1ea0-1ef9, U+20ab
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/b0da285322ee6896-s.woff2) format("woff2");
    unicode-range: U+0100-02ba, U+02bd-02c5, U+02c7-02cc, U+02ce-02d7, U+02dd-02ff, U+0304, U+0308, U+0329, U+1d00-1dbf, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20c0, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/d3d85d86ad5c431a-s.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/e8e25437b49f95eb-s.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c8a, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/1503d3bdd3f79a19-s.p.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/e2a272b6447367f1-s.woff2) format("woff2");
    unicode-range: U+1f??
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/be657e7655c1bafa-s.woff2) format("woff2");
    unicode-range: U+0370-0377, U+037a-037f, U+0384-038a, U+038c, U+038e-03a1, U+03a3-03ff
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/468b79e2d56358f9-s.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1ea0-1ef9, U+20ab
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/b0da285322ee6896-s.woff2) format("woff2");
    unicode-range: U+0100-02ba, U+02bd-02c5, U+02c7-02cc, U+02ce-02d7, U+02dd-02ff, U+0304, U+0308, U+0329, U+1d00-1dbf, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20c0, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/d3d85d86ad5c431a-s.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/e8e25437b49f95eb-s.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c8a, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/1503d3bdd3f79a19-s.p.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/e2a272b6447367f1-s.woff2) format("woff2");
    unicode-range: U+1f??
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/be657e7655c1bafa-s.woff2) format("woff2");
    unicode-range: U+0370-0377, U+037a-037f, U+0384-038a, U+038c, U+038e-03a1, U+03a3-03ff
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/468b79e2d56358f9-s.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1ea0-1ef9, U+20ab
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/b0da285322ee6896-s.woff2) format("woff2");
    unicode-range: U+0100-02ba, U+02bd-02c5, U+02c7-02cc, U+02ce-02d7, U+02dd-02ff, U+0304, U+0308, U+0329, U+1d00-1dbf, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20c0, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/d3d85d86ad5c431a-s.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/e8e25437b49f95eb-s.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c8a, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/1503d3bdd3f79a19-s.p.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/e2a272b6447367f1-s.woff2) format("woff2");
    unicode-range: U+1f??
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/be657e7655c1bafa-s.woff2) format("woff2");
    unicode-range: U+0370-0377, U+037a-037f, U+0384-038a, U+038c, U+038e-03a1, U+03a3-03ff
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/468b79e2d56358f9-s.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1ea0-1ef9, U+20ab
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/b0da285322ee6896-s.woff2) format("woff2");
    unicode-range: U+0100-02ba, U+02bd-02c5, U+02c7-02cc, U+02ce-02d7, U+02dd-02ff, U+0304, U+0308, U+0329, U+1d00-1dbf, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20c0, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: __Roboto_Slab_14fa5f;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/d3d85d86ad5c431a-s.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: __Roboto_Slab_Fallback_14fa5f;
    src: local("Times New Roman");
    ascent-override: 88.56%;
    descent-override: 22.90%;
    line-gap-override: 0.00%;
    size-adjust: 118.32%
}

.__className_14fa5f {
    font-family: __Roboto_Slab_14fa5f, __Roboto_Slab_Fallback_14fa5f;
    font-style: normal
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/356abdd51b933898-s.woff2) format("woff2");
    unicode-range: U+06??, U+0750-077f, U+0870-088e, U+0890-0891, U+0897-08e1, U+08e3-08ff, U+200c-200e, U+2010-2011, U+204f, U+2e41, U+fb50-fdff, U+fe70-fe74, U+fe76-fefc, U+102e0-102fb, U+10e60-10e7e, U+10ec2-10ec4, U+10efc-10eff, U+1ee00-1ee03, U+1ee05-1ee1f, U+1ee21-1ee22, U+1ee24, U+1ee27, U+1ee29-1ee32, U+1ee34-1ee37, U+1ee39, U+1ee3b, U+1ee42, U+1ee47, U+1ee49, U+1ee4b, U+1ee4d-1ee4f, U+1ee51-1ee52, U+1ee54, U+1ee57, U+1ee59, U+1ee5b, U+1ee5d, U+1ee5f, U+1ee61-1ee62, U+1ee64, U+1ee67-1ee6a, U+1ee6c-1ee72, U+1ee74-1ee77, U+1ee79-1ee7c, U+1ee7e, U+1ee80-1ee89, U+1ee8b-1ee9b, U+1eea1-1eea3, U+1eea5-1eea9, U+1eeab-1eebb, U+1eef0-1eef1
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/1a4dd1d7cd3232ea-s.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c8a, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/341baa6ce7a16e81-s.p.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/d70c23d6fe66d464-s.woff2) format("woff2");
    unicode-range: U+0307-0308, U+0590-05ff, U+200c-2010, U+20aa, U+25cc, U+fb1d-fb4f
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/0596140cb8d9223a-s.woff2) format("woff2");
    unicode-range: U+0100-02ba, U+02bd-02c5, U+02c7-02cc, U+02ce-02d7, U+02dd-02ff, U+0304, U+0308, U+0329, U+1d00-1dbf, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20c0, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/c22ccc5eb58b83e1-s.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/356abdd51b933898-s.woff2) format("woff2");
    unicode-range: U+06??, U+0750-077f, U+0870-088e, U+0890-0891, U+0897-08e1, U+08e3-08ff, U+200c-200e, U+2010-2011, U+204f, U+2e41, U+fb50-fdff, U+fe70-fe74, U+fe76-fefc, U+102e0-102fb, U+10e60-10e7e, U+10ec2-10ec4, U+10efc-10eff, U+1ee00-1ee03, U+1ee05-1ee1f, U+1ee21-1ee22, U+1ee24, U+1ee27, U+1ee29-1ee32, U+1ee34-1ee37, U+1ee39, U+1ee3b, U+1ee42, U+1ee47, U+1ee49, U+1ee4b, U+1ee4d-1ee4f, U+1ee51-1ee52, U+1ee54, U+1ee57, U+1ee59, U+1ee5b, U+1ee5d, U+1ee5f, U+1ee61-1ee62, U+1ee64, U+1ee67-1ee6a, U+1ee6c-1ee72, U+1ee74-1ee77, U+1ee79-1ee7c, U+1ee7e, U+1ee80-1ee89, U+1ee8b-1ee9b, U+1eea1-1eea3, U+1eea5-1eea9, U+1eeab-1eebb, U+1eef0-1eef1
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/1a4dd1d7cd3232ea-s.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c8a, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/341baa6ce7a16e81-s.p.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/d70c23d6fe66d464-s.woff2) format("woff2");
    unicode-range: U+0307-0308, U+0590-05ff, U+200c-2010, U+20aa, U+25cc, U+fb1d-fb4f
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/0596140cb8d9223a-s.woff2) format("woff2");
    unicode-range: U+0100-02ba, U+02bd-02c5, U+02c7-02cc, U+02ce-02d7, U+02dd-02ff, U+0304, U+0308, U+0329, U+1d00-1dbf, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20c0, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/c22ccc5eb58b83e1-s.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/356abdd51b933898-s.woff2) format("woff2");
    unicode-range: U+06??, U+0750-077f, U+0870-088e, U+0890-0891, U+0897-08e1, U+08e3-08ff, U+200c-200e, U+2010-2011, U+204f, U+2e41, U+fb50-fdff, U+fe70-fe74, U+fe76-fefc, U+102e0-102fb, U+10e60-10e7e, U+10ec2-10ec4, U+10efc-10eff, U+1ee00-1ee03, U+1ee05-1ee1f, U+1ee21-1ee22, U+1ee24, U+1ee27, U+1ee29-1ee32, U+1ee34-1ee37, U+1ee39, U+1ee3b, U+1ee42, U+1ee47, U+1ee49, U+1ee4b, U+1ee4d-1ee4f, U+1ee51-1ee52, U+1ee54, U+1ee57, U+1ee59, U+1ee5b, U+1ee5d, U+1ee5f, U+1ee61-1ee62, U+1ee64, U+1ee67-1ee6a, U+1ee6c-1ee72, U+1ee74-1ee77, U+1ee79-1ee7c, U+1ee7e, U+1ee80-1ee89, U+1ee8b-1ee9b, U+1eea1-1eea3, U+1eea5-1eea9, U+1eeab-1eebb, U+1eef0-1eef1
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/1a4dd1d7cd3232ea-s.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c8a, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/341baa6ce7a16e81-s.p.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/d70c23d6fe66d464-s.woff2) format("woff2");
    unicode-range: U+0307-0308, U+0590-05ff, U+200c-2010, U+20aa, U+25cc, U+fb1d-fb4f
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/0596140cb8d9223a-s.woff2) format("woff2");
    unicode-range: U+0100-02ba, U+02bd-02c5, U+02c7-02cc, U+02ce-02d7, U+02dd-02ff, U+0304, U+0308, U+0329, U+1d00-1dbf, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20c0, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/c22ccc5eb58b83e1-s.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/356abdd51b933898-s.woff2) format("woff2");
    unicode-range: U+06??, U+0750-077f, U+0870-088e, U+0890-0891, U+0897-08e1, U+08e3-08ff, U+200c-200e, U+2010-2011, U+204f, U+2e41, U+fb50-fdff, U+fe70-fe74, U+fe76-fefc, U+102e0-102fb, U+10e60-10e7e, U+10ec2-10ec4, U+10efc-10eff, U+1ee00-1ee03, U+1ee05-1ee1f, U+1ee21-1ee22, U+1ee24, U+1ee27, U+1ee29-1ee32, U+1ee34-1ee37, U+1ee39, U+1ee3b, U+1ee42, U+1ee47, U+1ee49, U+1ee4b, U+1ee4d-1ee4f, U+1ee51-1ee52, U+1ee54, U+1ee57, U+1ee59, U+1ee5b, U+1ee5d, U+1ee5f, U+1ee61-1ee62, U+1ee64, U+1ee67-1ee6a, U+1ee6c-1ee72, U+1ee74-1ee77, U+1ee79-1ee7c, U+1ee7e, U+1ee80-1ee89, U+1ee8b-1ee9b, U+1eea1-1eea3, U+1eea5-1eea9, U+1eeab-1eebb, U+1eef0-1eef1
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/1a4dd1d7cd3232ea-s.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c8a, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/341baa6ce7a16e81-s.p.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/d70c23d6fe66d464-s.woff2) format("woff2");
    unicode-range: U+0307-0308, U+0590-05ff, U+200c-2010, U+20aa, U+25cc, U+fb1d-fb4f
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/0596140cb8d9223a-s.woff2) format("woff2");
    unicode-range: U+0100-02ba, U+02bd-02c5, U+02c7-02cc, U+02ce-02d7, U+02dd-02ff, U+0304, U+0308, U+0329, U+1d00-1dbf, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20c0, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: __Rubik_59f049;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/c22ccc5eb58b83e1-s.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: __Rubik_Fallback_59f049;
    src: local("Arial");
    ascent-override: 88.57%;
    descent-override: 23.68%;
    line-gap-override: 0.00%;
    size-adjust: 105.57%
}

.__className_59f049 {
    font-family: __Rubik_59f049, __Rubik_Fallback_59f049;
    font-style: normal
}