// Variables
$color-primary: #10b981;
$color-dark: #111827;
$color-light: #f9fafb;
$color-accent: #e20774;
$color-accent2: #f0d01c;
$font-stack: 'Segoe UI', sans-serif;
$spacing: 1rem;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background: $color-dark;
  color: $color-light;
  line-height: 1.6;
  padding: $spacing;
}

h1,
h2,
h3 {
  color: $color-primary;
  margin-bottom: $spacing;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Game boxes layout
ul.image-grid {
  display: flex;
  // flex-wrap: wrap;
  gap: $spacing;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    flex: 1 1 calc(16.6% - $spacing);
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    aspect-ratio: 3 / 4; // keeps portrait ratio
    background: #000;

    img {
      position: absolute;
      top: 0; left: 0; width: 100%; height: 100%;
      object-fit: cover;
      border-radius: 0.25rem;
      transition: all 0.5s ease;
      z-index: 1;
    }

    div {
      position: absolute;
      opacity: 0;
      // top: 0; left: 0; width: 100%; height: 100%;
      top: 0; left: 0; right: 0; bottom: 0;
      // display: none;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
      padding: 10px!important;
      z-index: 2;
      color: white;
      padding: $spacing;
      transition: all 0.5s ease;

      span {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.3px;
      }

      .j-play {
        background: $color-accent;
      }

      .j-demo {
        background: $color-accent2;
        color:#000;
      }

      button {
        padding: 0;
        width: 90%;
        line-height: 20px;
        text-align: center;
        color: white;
        border: none;
        border-radius: 10px;
        letter-spacing: 0.8px;
        cursor: pointer;
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
        opacity: 0.3;
      }

      div {
        // display: flex;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

// Responsive tweak
@media (max-width: 768px) {
  ul.image-grid li {
    flex: 1 1 100%;
  }
}


// Tables
.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: $spacing;

  th,
  td {
    border: 1px solid #374151;
    padding: 0.75rem;
    text-align: left;
  }

  th {
    background: $color-primary;
    color: white;
  }

  td {
    background: #1f2937;
  }
}

// Responsive
@media (max-width: 768px) {
  ul.image-grid li {
    flex: 1 1 100%;
  }

  .top-banner,
  .recent-wins {
    flex-direction: column;
  }
}