$sidebar: 250px;
$bg: #404550;
$col: #eee;
$header: 60px;

#jet-header, .jet-header-main, #jet-footer, .footer-inner{
    height: $header;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar-docs{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar;
    background: $bg;
    color: $col;
    z-index: 90;
    .menu{
        margin-left: 0;
        margin-top: $header;;
        margin-bottom: $header;
        padding: 20px;
        a{
            color: inherit;
        }
    }
}

.jet-docs{
    margin-left: $sidebar + 20;
}