// Variables
$color-text: #fff;
$color-question: #eca21a;

$faq-bg: $ac-darken;
$faq-hover: #1e2f22;

$color-answer: #aaa;

.f-faq {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: auto;

    .f-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        color: $color-text;
    }

    .f-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        list-style: none;
        padding: 0;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .f-item {
        background: $faq-bg;
        border-radius: 0.5rem;
        overflow: hidden;
        transition: background 0.3s ease;

        &:hover {
            background: $faq-hover;
            color: #fff;
        }

        .f-question {
            background-color: inherit;
            // all: unset;
            border-image-width: 0;
            border-width: 0;
            text-align-last: left;
            display: block;
            width: 100%;
            padding: 1rem;
            font-size: 1rem;
            font-weight: 700;
            color: $color-question;
            text-transform: none;
            cursor: pointer;
            // transition: background 0.3s ease;
            position: relative;
            padding-right: 30px;
            &:hover{
                background: transparent!important;
            }

            &::after {
                position: absolute;
                right: 10px;
                top: 10px;
                content: '+';
                font-weight: 700;
                font-size: 1.5rem;
                // float: right;
                // transition: transform 0.3s;
            }

            &.open::after {
                content: '×';
                transform: rotate(180deg);
            }


        }

        .f-answer {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.3s ease;
            padding: 0 1rem;

            &.open {
                max-height: 300px;
                opacity: 1;
                padding-bottom: 1rem;
            }

            p {
                margin: 1rem 0 0;
                color: $color-answer;
            }
        }
    }
}