$menu-width: 200px;
$bg: rgb(236, 242, 248);
$hover: rgb(255, 255, 255);
$active: rgb(184, 200, 216);
$col: rgb(77, 75, 102);


.scroll-menu {
    // display: none;
    position: fixed;
    top: 70px;
    right: 1rem;
    width: $menu-width;
    text-align: center;
    transition: all ease 0.5s;
    background: $bg;
    color: $col;
    padding: 1rem 5px;
    text-align: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 110;

    li {
        display: flex;
        border-bottom: 1px solid $active;

        a {
            flex-grow: 1;
            width: 100%;
            padding: 0 1rem;
            transition: all ease 0.5s;

            &:hover {
                background: $hover;
            }

            &.isActive {
                background: $active;
            }
        }

        &:last-child {
            border-bottom-width: 0;
        }
    }

    &.isActive {
        display: block;
    }

}

.hasRightMargin {
    margin-right: $menu-width + 16;
}