$sidebar: 250px;

$header: 60px;

$bg: #054145;
$footer: #042d2f;
$col: #d5f0f1;
$col_link: #59e8f3;
$heading:#f8ee94;

//boxes 
$color-primary: #10b981;
$color-dark: #111827;
$color-light: #f9fafb;
$color-accent: #e20774;
$color-accent2: #f0d01c;
$font-stack: 'Segoe UI', sans-serif;
$spacing: 1rem;

//buttons
$but-hover:#2ec554;
$but-hover-col:#07500a;

//accents
$ac-darken: #042d2f;
$ac-lighten: #096f77;