$sidebar: 250px;

$header: 60px;

// $bg: #75bb75;
$bg: #0A636F;
$footer: #042d2f;
$col: #112211;
$col: #fff;
//accents
$ac-darken: #054145;
// $ac-lighten: #194B4E;
$ac-lighten: #185B62;
$ac-lighten-more: #98cd98;
$but: #2EB155;
$but2: #F04D47;

$col_link: #28A9AF;
$heading:#f8ee94;

//boxes 
$color-primary: #10b981;
$color-dark: #111827;
$color-light: #f9fafb;
$color-accent: #e20774;
$color-accent2: #f0d01c;
$font-stack: 'Segoe UI', sans-serif;
$spacing: 1rem;

//buttons
$but-hover:#2ec554;
$but-hover-col:#07500a;

$header: 60px;

