.header-home {
    background: #000;
    position: relative;
    color: #f1f2f3
}

.header-home a {
    color: inherit
}

.header-home .img-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("http://magicjet.org/assets/images/airplane.jpg");
    background-position: center center;
    opacity: 0.7;
    z-index: 1
}

.header-home .home-content {
    min-height: 400px;
    z-index: 2;
    padding-bottom: 2rem
}

.header-home .home-content h1 {
    font-size: 5rem;
    color: #78a3c5;
    font-weight: 600
}

.header-home .home-content p {
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: 0
}

.header-home .home-content p:nth-child(1n) {
    padding-left: 2rem
}

.header-home .home-content p:nth-child(2n) {
    padding-left: 4rem
}

.header-home .home-content p:nth-child(3n) {
    padding-left: 6rem
}

.color-box {
    background: #3949ab;
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.box-4 {
    width: 40%;
    background: #f1f2f9;
    padding: 2rem;
    font-size: 1.2rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.box-4 h3 {
    font-size: 1.3rem;
    font-weight: normal;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #6e7983
}

.box-3 {
    position: relative;
    width: 30%;
    background: #fff;
    padding: 1rem 1rem 1rem 4rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.box-3 h3 {
    font-size: 1.3rem;
    font-weight: normal;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #6e7983
}

.box-3:before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 30px;
    content: '🗸';
    font-weight: bold;
    background: #eff304;
    color: #00f;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}